In [6]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx -O retail.xlsx

--2019-09-05 08:04:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 23715344 (23M) [application/x-httpd-php]
Saving to: ‘retail.xlsx’

retail.xlsx         100%[===================>]  22.62M  31.7MB/s    in 0.7s

2019-09-05 08:04:43 (31.7 MB/s) - ‘retail.xlsx’ saved [23715344/23715344]

In [1]:
import pandas as pd
excel_df = pd.read_excel("retail.xlsx")

In [4]:
print("The number of items: {}".format(len(excel_df["StockCode"].unique())))
print("The number of records: {}".format(len(excel_df.index)))

The number of items: 4070
The number of records: 541909

In [18]:
excel_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [23]:
df = excel_df.loc[:, ["StockCode", "InvoiceDate", "Quantity", "Country"]]

In [26]:
df = df.set_index("InvoiceDate")

In [31]:
train_df = df[:"2011-11-30"]
test_df = df["2011-12-01":]

                    StockCode  Quantity         Country
InvoiceDate
2011-12-01 08:12:00     23245        -8  United Kingdom
2011-12-01 08:14:00     84947        -1  United Kingdom
2011-12-01 08:14:00     23374        -1  United Kingdom
2011-12-01 08:14:00     84945        -2  United Kingdom
2011-12-01 08:18:00     23485        -1  United Kingdom
2011-12-01 08:18:00     23186        -6  United Kingdom
2011-12-01 08:23:00     23461        -4  United Kingdom
2011-12-01 08:25:00     37449        -2  United Kingdom
2011-12-01 08:26:00     23012        -1  United Kingdom
2011-12-01 08:26:00     23568        -1  United Kingdom
2011-12-01 08:26:00     23319        -6  United Kingdom
2011-12-01 08:27:00     23374        -5  United Kingdom
2011-12-01 08:27:00     23456        -2  United Kingdom
2011-12-01 08:29:00     23382        -2  United Kingdom
2011-12-01 08:29:00     23256        -1  United Kingdom
2011-12-01 08:29:00     23203        -1  United Kingdom
2011-12-01 08:29:00     22470        -2  United Kingdom
2011-12-01 08:32:00     22153        -1  United Kingdom
2011-12-01 08:32:00     22969        -1  United Kingdom
2011-12-01 08:33:00     23301        24  United Kingdom
2011-12-01 08:33:00     22623         3  United Kingdom
2011-12-01 08:33:00     20970         4  United Kingdom
2011-12-01 08:33:00     23562         6  United Kingdom
2011-12-01 08:33:00     71477         4  United Kingdom
2011-12-01 08:33:00     23407         2  United Kingdom
2011-12-01 08:33:00     22457         6  United Kingdom
2011-12-01 08:33:00     84347        12  United Kingdom
2011-12-01 08:33:00     23129         4  United Kingdom
2011-12-01 08:33:00     22577        24  United Kingdom
2011-12-01 08:33:00     22402        24  United Kingdom
...                       ...       ...             ...
2011-12-09 12:31:00     22726         8  United Kingdom
2011-12-09 12:31:00     22727         4  United Kingdom
2011-12-09 12:31:00     16016        10  United Kingdom
2011-12-09 12:31:00     21916        24  United Kingdom
2011-12-09 12:31:00     84692        25  United Kingdom
2011-12-09 12:31:00     84946        12  United Kingdom
2011-12-09 12:31:00     21684        12  United Kingdom
2011-12-09 12:31:00     22398        12  United Kingdom
2011-12-09 12:31:00     23328         4  United Kingdom
2011-12-09 12:31:00     23145        12  United Kingdom
2011-12-09 12:31:00     22466        12  United Kingdom
2011-12-09 12:49:00     22061         8  United Kingdom
2011-12-09 12:49:00     23275        24  United Kingdom
2011-12-09 12:49:00     21217        24  United Kingdom
2011-12-09 12:49:00     20685        10  United Kingdom
2011-12-09 12:50:00     22631        12          France
2011-12-09 12:50:00     22556        12          France
2011-12-09 12:50:00     22555        12          France
2011-12-09 12:50:00     22728         4          France
2011-12-09 12:50:00     22727         4          France
2011-12-09 12:50:00     22726         4          France
2011-12-09 12:50:00     22730         4          France
2011-12-09 12:50:00     22367         8          France
2011-12-09 12:50:00     22629        12          France
2011-12-09 12:50:00     23256         4          France
2011-12-09 12:50:00     22613        12          France
2011-12-09 12:50:00     22899         6          France
2011-12-09 12:50:00     23254         4          France
2011-12-09 12:50:00     23255         4          France
2011-12-09 12:50:00     22138         3          France

[25525 rows x 3 columns]